.main-bg
{
    color: var(--white-color);
    background-image: url('../img/stars_pic.jpg');
    background-size: cover;
    background-position: center center;

}

.white-bg
{
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content
{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section
{
    min-height: 10vh;
}

body .full-width
{
    width: 100%;
    flex: 1 1 100%;
}

.button {
    background: var(--secondary-color);
    color: var(--white-color);
    padding: 1rem 2rem; /* Reduced padding (horizontal padding reduced from 3rem to 2rem) */
    border-radius: 4px;
    font-size: 1.35rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: all 300ms ease-in-out;
    /* Add this if you want a specific width */
    width: 250px; /* or set a specific width like 120px */
    text-align: center;
}

.button:hover {
    background: var(--primary-color);
    color: var(--white-color);
}
